<!-- about.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Acerca de</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <h1>Acerca de</h1>
    <p>Esta es una aplicación Flask básica con una conexión a SQL Server.</p>
    <p>Desarrollado por [tu nombre o tu equipo].</p>
    {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <!-- ... -->
        </tr>
        {% endfor %}
</body>
</html>
