<!-- about.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Acerca de</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.styles.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="content-container">
        <section class="image first"></section>
        <section class="text">
            <h2>About Us</h2>
            <p>
                Welcome to Esencial Verde! We are a waste collection company committed to caring for the environment and the well-being of our community. We specialize in the responsible collection and management of waste from homes, businesses, and organizations, providing sustainable and efficient solutions to reduce the carbon footprint and promote the circular economy.
                <br>
                <br>
                At Esencial Verde, we believe that everyone can do their part to protect the planet and create a healthier future for generations to come. That's why we work with passion and dedication to offer high-quality services that promote environmental education, social responsibility, and sustainable development in our community.
                <br>
                <br>
                <p class="center-p">
                    Join us and help us build a greener and more prosperous future for everyone!
                </p>
            </p>
        </section>
        <section class="image second"></section>
        <section class="text">
            <h2>Testimonials</h2>
            <p>"Since I hired Esencial Verde's services, I have noticed a big difference in the management of my waste. I love knowing that I am doing my part to care for the environment and support a company that cares about sustainability and the well-being of the community. Additionally, Esencial Verde's team is very friendly and professional, always willing to help and provide efficient solutions. I highly recommend Esencial Verde for any waste management needs!" - Maria J.</p>
        </section>
        <section class="image third"></section>

    </div>
    
</body>
</html>
