<!-- contact.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Contacto</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.styles.css') }}">
        <script src="{{ url_for('static', filename='js/containers.js') }}"></script>
        <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
    </head>
    <body>
        {% include 'header.html' %}
      
        <div class="cards-container">
            <div class="card">
                <div class="card-header">
                    <img src="{{ url_for('static', filename='img/stiven.jpg') }}" alt="Foto del empleado" class="card-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Stiven Segura Guzmán</h3>
                    <p class="card-text">Front End Developer</p>
                    <div class="card-social-icons">
                        <a href="https://www.instagram.com/stiven_3112/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/s77ven/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/S77VEN31" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="{{ url_for('static', filename='img/pablo.jpg') }}" alt="Foto del empleado" class="card-img">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Jose Pablo Granados Siles</h3>
                    <p class="card-text">Backend End Developer</p>
                    <div class="card-social-icons">
                        <a href="https://www.instagram.com/jpablixgs/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/jose-granados-72b728276/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/JPablix" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
