<!DOCTYPE html>
<html>
  <head>
    <title>Acerca de</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/containers.styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/all.min.css') }}"
    />
    <script src="{{ url_for('static', filename='js/containers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dropdown.styles.css') }}"
    />
    <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
  </head>
  <body onload="showDateTime()">
    {% include 'header.html' %}
    <div id="popup" class="popup">
      <div class="popup-content">
        <div class="inputs-and-text-container">
          <div class="text-container">
            <span class="info-text-container">
              <span class="info-text-key">Carrier: </span>
              {{ carrier[0][0] }} {{ carrier[0][1] }} {{ carrier[0][2]}}
              </span>
            <span class="info-text-container">
              <span class="info-text-key"> Plate: </span>
              <p class="info-text-plate">{{ fleet[0][0] }}{{ fleet[0][1][1:] }}</p>
            </span>
            <span class="info-text-container">
              <span class="info-text-key">Country: </span>
              {{location[0][4]}} 
              <br>
              <span class="info-text-key">State: </span>
              {{location[0][3]}} 
              <br>
              <span class="info-text-key">City: </span>
              {{location[0][2]}} 
              <br>
              <span class="info-text-key">Region: </span>
              {{location[0][0]}} 
              <br>
              <span class="info-text-key">Region Area: </span>
              <br>
              {{location[0][1]}} 
            </span>
            <span class="info-text-container">
              <span class="info-text-key">Date and Time:</span>
              <p id="dateTime"></p>
            </span>
          </div>
          <div class="inputs-container">
            <li class="dropdown-selector">
              <a
                class="dropdown-card"
                href="#"
                id="dropdown-wastes"
                onclick="toggleDropdown('dropdown-wastes-menu')"
              >
                Waste type
                <i class="fas fa-caret-down"></i>
              </a>
              <ul class="dropdown-selector-content" id="dropdown-wastes-menu">
                {% for wasteType in wasteTypes %}
                <li>
                  <a
                    href="#"
                    onclick="toggleDropdown('dropdown-wastes-menu'); 
                    setMyVar('wasteType','{{ wasteType[1] }}'); 
                    changeText('{{ wasteType[1] }}', 'dropdown-wastes-selected')"
                    >{{ wasteType[1] }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              <span id="dropdown-wastes-selected">No seleccionado</span>
            </li>
            <li class="dropdown-selector">
              <a
                class="dropdown-card"
                href="#"
                id="dropdown-operations"
                onclick="toggleDropdown('dropdown-operations-menu')"
              >
                Operation type
                <i class="fas fa-caret-down"></i>
              </a>
              <ul
                class="dropdown-selector-content"
                id="dropdown-operations-menu"
              >
                {% for operation in operations %}
                <li>
                  <a
                    href="#"
                    onclick="toggleDropdown('dropdown-operations-menu'); 
                    setMyVar('operationType','{{ operation }}'); 
                    changeText('{{ operation }}','dropdown-operations-selected')"
                    >{{ operation }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              <span id="dropdown-operations-selected">No seleccionado</span>
            </li>
            <li class="dropdown-selector">
              <a
                class="dropdown-card"
                href="#"
                id="dropdown-companies"
                onclick="toggleDropdown('dropdown-companies-menu')"
              >
                Company
                <i class="fas fa-caret-down"></i>
              </a>
              <ul
                class="dropdown-selector-content"
                id="dropdown-companies-menu"
              >
                {% for comp in compXprod %}
                <li>
                  <a
                    id="load-content-button"
                    href="#"
                    onclick="toggleDropdown('dropdown-companies-menu');
                    setMyVar('company','{{ comp[0][1] }}');
                    setMyVar('producer',' {{ comp[1][1]  }}');
                    changeText('{{ comp[0][1] }}' +' {{ comp[1][1]  }}', 'dropdown-companies-selected');"
                    >{{ comp[0][1] }} {{ comp[1][1] }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              <span id="dropdown-companies-selected">No seleccionado</span>
            </li>
            <form method="POST" action="/submit">
              <label for="quantity">Quantity:</label>
              <input
                type="number"
                id="quantity"
                name="quantity"
                min="1"
                max="999"
                onchange="setMyVar('quantity', this.value)"
              />
              <br />
              <br />
            </form>
            <div class="buttons-container">
              <button class="add-container-button" onclick="hidePopup(); 
              addRow(
                '{{ carrier[0][0] }} {{ carrier[0][1] }} {{ carrier[0][2]}}',
                '{{ fleet[0][0] }}{{ fleet[0][1][1:] }}',
                '[{{location[0][4]}}, {{location[0][3]}}, {{location[0][2]}}, {{location[0][0]}}, {{location[0][1]}}]')">
                <i class="fas fa-paper-plane"></i>
                Submit
              </button>
              <button class="delete-button" onclick="hidePopup()">
                <i class="fas fa-times"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-transport-main-container">
      <div class="upload-buttons-container">
        <button class="add-container-button" onclick="showPopup()">
          <i class="fas fa-plus"></i>
          New row
        </button>
        
        <form id="mi-formulario" action="/containers" method="POST">
          <button class="add-container-button" onclick="setInputValueAndSubmit(event)">
            <i class="fas fa-upload"></i>
            Upload list
          </button>
          <input id="my-input" name="input-value" type="hidden">
        </form>
      </div>
      <table id="myTable" border="1">
        <thead>
          <tr>
            <th>Carrier</th>
            <th>Plate</th>
            <th>Location</th>
            <th>Company</th>
            <th>Producer</th>
            <th>Waste</th>
            <th>Operation</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí se agregarán las filas -->
        </tbody>
      </table>
   
    </div>
  </body>
</html>
