<!DOCTYPE html>
<html>
    <head>
        <title>Acerca de</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/containers.styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
        <script src="{{ url_for('static', filename='js/containers.js') }}"></script>
        <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.styles.css') }}">
        <script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
    </head>
    <body>
        {% include 'header.html' %}
        <div id="popup" class="popup">
            <div class="popup-content">
                <li class="dropdown-selector">
                    <a class="dropdown-card" href="#" id="dropdown-wastes" onclick="toggleDropdown('dropdown-wastes-menu')">
                        Waste type
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-selector-content" id="dropdown-wastes-menu">
                        {% for wasteType in wasteTypes %}
                        <li>
                            <a href="#" onclick="toggleDropdown('dropdown-wastes-menu'); changeText('{{ wasteType[1] }}', 'dropdown-wastes-selected')">{{ wasteType[1] }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <span id="dropdown-wastes-selected">No seleccionado</span>
                </li>
                <li class="dropdown-selector">
                    <a class="dropdown-card" href="#" id="dropdown-btn" onclick="toggleDropdown('dropdown-operations-menu')">
                        Operation type
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-selector-content" id="dropdown-operations-menu">
                        {% for operation in operations %}
                        <li>
                            <a href="#" onclick="toggleDropdown('dropdown-operations-menu'); changeText('{{ operation }}','dropdown-operations-selected')">{{ operation }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <span id="dropdown-operations-selected">No seleccionado</span>
                </li>
                <button class="delete-button" onclick="hidePopup()">
                    Cerrar
                </button>
            </div>
        </div>
        <div class="container-transport-main-container">
            
            <div>
                <button class="add-container-button" onclick="showPopup()">
                    Mostrar popup
                </button>
                <button class="delete-button">
                    <i class="fas fa-trash"></i>
                    Eliminar
                </button>
            </div>
        </div>
    </body>
</html>
