<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.styles.css') }}">
</head>
<body>
    <h1>Menú principal</h1>
    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <!-- ... -->
    </tr>
    {% endfor %}
    <ul>
        <li><a href="{{ url_for('about') }}">Acerca de</a></li>
        <li><a href="{{ url_for('contact') }}">Contacto</a></li>
    </ul>
</body>
</html>