body {
    display: flex;
    flex-direction: column;
    background-color: #f0f7ee !important;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

th, td {
    padding: 8px;
    border: 1px solid #205b3d;
    background-color: #e2f2dd;
    color: #205b3d;
}

th {
    font-weight: bold;
}

td button {
    background-color: #205b3d;
    color: #fff;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

td button:hover {
    background-color: #fff;
    color: #205b3d;
}

.container-transport-main-container {
    display: flex;
    min-height: 600px;
    width: 100%;
    flex-direction: column;
}

.add-container-button {
    background-color: white;
    color: green;
    border: 2px solid green;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-container-button:hover {
    background-color: green;
    color: white;
}

.delete-button {
    background-color: white;
    border: 2px solid red;
    color: red;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delete-button:hover {
    background-color: red;
    color: white;
}

.delete-button i {
    margin-right: 5px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.popup-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    gap: 20px
}

.inputs-and-text-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 10px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
}




