html {
    background-color: #f0f7ee !important;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f0f7ee !important;
    height: 100vh;
}

table {
    border-collapse: collapse;
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

th {
    padding: 8px;
    border: 2px solid #205b3d;
    background-color: #5c986a;
    color: white;
}

td {
    padding: 8px;
    border: 2px solid #205b3d;
    background-color: #e2f2dd;
    color: #205b3d;
    transition: background-color 0.5s ease-in-out;
    text-transform: uppercase;
}

.fila:hover td {
    background-color: #205b3d;
    color: white;
}


th {
    font-weight: bold;
}

td button {
    background-color: #205b3d;
    color: #fff;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #205b3d;
    background-color: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}




.container-transport-main-container {
    display: flex;
    min-height: 600px;
    width: 100%;
    flex-direction: column;
}

.upload-buttons-container {
    display: flex;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #205b3d;
    background-color: #5c986a;
    max-width: 400px;
    justify-content: space-around;
    margin: 20px 20px 0px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.add-container-button {
    background-color: #e2f2dd;
    color: #205b3d;
    border: 2px solid #205b3d;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-container-button:hover {
    background-color: #205b3d;
    color: white;
    box-shadow: 0 2px 6px #205b3d;
}

.delete-button {
    background-color: #ffcccc;
    border: 2px solid red;
    color: red;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delete-button:hover {
    background-color: red;
    color: white;
    box-shadow: 0 2px 6px red;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.popup-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f7ee;
    border-radius: 5px;
    gap: 20px;
    overflow: hidden;
    border: 3px solid #205b3d;
}

.inputs-and-text-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    gap: 10px;
    padding: 20px;
    background-color: #5c986a;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
}

.info-text-container {
    background-color: #e2f2dd;
    color: black;
    border: 2px solid #205b3d;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-transform: capitalize;
}

.number-selector-container {
    background-color: #e2f2dd;
    color: black;
    border: 2px solid #205b3d;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 10px;
}

.number-selector-container:hover {
    background-color: #205b3d;
    text-transform: capitalize;
    color: white;
    box-shadow: 0 2px 6px #205b3d;
}

.info-text-key {
    font-weight: bold;
    text-transform: capitalize;
}

.info-text-plate {
    text-transform: uppercase;
}

.info-text-container:hover {
    background-color: #205b3d;
    text-transform: capitalize;
    color: white;
    box-shadow: 0 2px 6px #205b3d;
}