.dropdown-selector {
    position: relative;
    display: flex;
    background-color: #e2f2dd;
    padding: 8px;
    border: #205b3d 2px solid;
    max-width: 300px;   
    min-width: 280px;
    gap: 10px;
    flex: 1;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.dropdown-selector:hover .dropdown-card,
.dropdown-selector:hover {
    transition: background-color 0.3s, color 0.3s;
    color: white;
    background-color: #205b3d;
}

.dropdown-selector-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    margin-top: 30px;
    background-color: #f0f7ee;
    z-index: 3;
    border-left: #205b3d 2px solid;
    border-right: #205b3d 2px solid;
    border-top: #205b3d 2px solid;
    border-bottom: #205b3d 2px solid;
    max-height: 200px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;

}

.dropdown-selector-content li {
    display: block;
    width: 100%;
    border-bottom: #205b3d 0.5px solid;
}

.dropdown-selector-content li a {
    color: #205b3d;
    padding: 10px;
    display: block;

}

.dropdown-selector-content li a:hover {
    color: white;
    background-color: #205b3d;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-selector:onclick .dropdown-selector-content {
    display: block;
}

.dropdown-selector-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #205b3d;
    background-color: #f1f1f1;
}

.dropdown-item:hover {
    background-color: #ddd;
}