* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.logo {
    background-color: #fff;
    max-width: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    margin-left: 0px !important;
    margin: 20px;
}

.header-logo {
    margin-left: 0px !important;
    max-width: 100px;
}

.header-main-container {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #5c986a;
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.header-item-wrapper {
    margin-left: 40px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    display: flex;
    border: #205b3d 2px solid;
    background-color: #e2f2dd;
    color: #205b3d;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 20px;
    gap: 8px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}
.icon {
    font-size: 10px;
    margin-bottom: -1px;
}


.header-text:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: #205b3d;
    color: #fff;
    box-shadow: 0 2px 6px #205b3d;
}

.dropdown {
    display: none;
    z-index: 3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    position: absolute;
    background-color: #f0f7ee;
    z-index: 3;
}

.dropdown-content li {
    display: block;
}

.dropdown-content li a {
    color: #0d3321;
    padding: 10px;
    display: block;
}

@media only screen and (max-width: 768px) {
    .header-main-container {
        height: auto;
        max-height: 80px;
    }

    .dropdown {
        display: block;
    }

    .header-item-wrapper .header-item {
        display: none;
    }

    .header-item-wrapper.header-list {
        display: block;
    }

    .header-item-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-text {
        margin: 10px 0;
    }

    .dropdown {
        margin: 10px 0;
    }

    .dropdown-content {
        position: fixed;
        display: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}